.colorBG{
			background-color: #3590d5;	
		}

    .borderComColorBG{
      border-color: #3590d5;
      border: 5px;
    }

		.pad{
			padding-top: 20px;
			padding-bottom: 20px; 
		}

		.color3{
			color: green;
		}

		.fontLight{
			font-family: Arial, Helvetica, sans-serif;
		}

		.fontBold{
			font-family: 'Rubik Mono One', sans-serif;
		}
		.fontWelcome{
			color: green; 
			font-size: 30px; 
			font-family: 'Rubik Mono One', sans-serif;
		}


		.mobile{
			display: block;	
			}

		@media(max-width: 720px){
			.mobile{
				display: none;
			}
		}

		p{
			color: black; 
			font-size: 20px; 
			font-family: 'Arial', sans-serif;
		}